@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-body {
    background-color: #FFF8CF;
}

.fi-main {
    background-color: #FFF8CF;
}

.fi-topbar {
    background-color: #E9DED3;
}

.fi-sidebar {
    background-color: #E9DED3;
}
